<header>
  <h1>Create a new User Account!</h1>
  
</header>

<form action="/users" method="post">
  <label>Username:</label>
  <input type="text" name=username>
  
  <label>Password:</label>
  <input type="text" name=password1>
  
  <label>Re-enter password:</label>
  <input type="text" name=password2>
  
  <input type="submit"></input>
</form>