<form action="/posts" method="post">
  <label>Title:</label>
  <input type="text" name=title>
  
  <label>Body:</label>
  <input type="text" name=body>
  
  <label>Image URL:</label>
  <input type="text" name=image>
  
  <input type="submit"></input>
</form>